.cart-item{

display:flex;
justify-content:space-between;
align-items:center;

background:#151922;

border:1px solid rgba(38,198,218,.25);

border-radius:18px;

padding:22px 28px;

margin-bottom:20px;

box-shadow:
0 0 10px rgba(38,198,218,.15);

}

.cart-left{

width:35%;

}

.cart-left h3{

margin:0 0 10px;

color:#fff;

font-size:22px;

}

.cart-price{

color:#26C6DA;

font-size:18px;

font-weight:600;

}

.cart-middle{

display:flex;
align-items:center;
gap:15px;

}

.qty-btn{

width:36px;
height:36px;

border:none;

border-radius:50%;

background:#26C6DA;

color:#fff;

font-size:22px;

cursor:pointer;

transition:.3s;

}

.qty-btn:hover{

background:#16acc0;

}

.qty-number{

font-size:22px;

font-weight:bold;

color:white;

width:30px;

text-align:center;

}

.cart-right{

text-align:right;

}

.subtotal{

font-size:18px;

color:white;

margin-bottom:15px;

}

.remove-btn{

padding:10px 20px;

border:none;

border-radius:10px;

background:#ff4d4f;

color:white;

cursor:pointer;

}

.remove-btn:hover{

background:#e53935;

}

.cart-total{

display:flex;

justify-content:space-between;

align-items:center;

margin-top:35px;

padding-top:20px;

border-top:1px solid rgba(255,255,255,.15);

}
.checkout-area{

margin-top:30px;

text-align:right;

}